<footer>
    <nav>
        <a href="https://github.com/dalamil0" target="_blank">GitHub</a> |
        <a href="https://www.freecodecamp.org/dalamil0" target="_blank">freeCodeCamp</a> |
        <a href="https://www.codecademy.com/profiles/dalamil0" target="_blank">Codecademy</a> |
        <a href="https://jsfiddle.net/u/dalamil0/fiddles/" target="_blank">JSFiddle</a> |
        <a href="https://www.linkedin.com/in/diana-alamilla-3b8b86326/" target="_blank">LinkedIn</a>
    </nav>

    <p>Page built by Diana Alamilla-Ramirez.</p>
</footer>
